@media (max-width: 480px) {

.cat{
    font-size: 22px;
}

.iconcat{
    width: 30px;
}

#countdown{
    width: 90%;
}

#countdown #tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#countdown #tiles > span{
    width: 65px;
    font-size: 40px;
    padding: 10px 0;
}

#countdown .labels{
    bottom: 30px;
}

#countdown .labels li{
    width: 77px;
    font-size: 18px;
    color: #811212;
    text-shadow: none;
    
    
}

.daybutton{
    width: 80%;
}

.fechar{
    width: 150px;
    right: 25px;
}

.bodytext{
    font-size: 20px;
    text-align: center;
}

#bgfundo{
    width: 100%;
    margin-bottom: 50px;

}

}

@media (max-width: 350px) {

    #countdown .labels li{
        width: 24%;
        font-size: 18px;    
        
    }
}